body {
  background: #FFFFFF;
}
h1 {
  text-align: center;
}
.caixa1 {
  position: absolute;
  background: #b523f7;
  color: black;
  width: 200px;
  height: 200px;
  right: 0;
  top: 0;
}
.caixa2 {
  position: absolute;
  background: #b523f7;
  color: black;
  width: 200px;
  height: 200px;
  right: 0;
  bottom: 0;
}
